@import '@/styles/base';

.SVGReason__overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;

  .SVGReason__modal {
    display: block;
    width: max-content;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 20px;

    &__heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      font-size: $text-xl;
      font-weight: 700;
      background: #1892d7;
      border-radius: 10px 10px 0px 0px;
      color: white;

      .SVGReason__modal-ic {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 25px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &__body {
      width: 100%;
      height: max-content;
      padding: 0 45px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .SVGReason__ctn {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #0088cc;
        position: relative;
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 50px;
          height: 50px;
        }

        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

        .SVGReason__image_overlay {
          position: absolute;
          display: none;
          align-items: center;
          justify-content: center;
          top: 0;
          left: 0;
          width: 100%;
          border-radius: 50%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.8);
          cursor: pointer;
          animation: fade-in 0.3s forwards;

          button {
            width: max-content;
            height: max-content;
            border: none;
            background-color: transparent;

            .SVGReason__img-edit {
              color: white;
              font-size: 2.5rem;
              cursor: pointer;
            }
          }
        }

        &:hover .SVGReason__image_overlay {
          display: flex;
        }
      }

      .modal__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 30px;

        button {
          padding: 8px 15px;
          min-width: 120px;
          font-size: 1.6rem;
          font-weight: 600;
          border-radius: 50px;

          &:hover {
            opacity: 0.9;
          }

          &:nth-child(1) {
            margin-right: 20px;
            border: 1px solid #22d1ee;
            background-color: white;
          }

          &:nth-child(2) {
            color: white;
            border: 1px solid #22d1ee;
            background: linear-gradient(270deg, #22d1ee 0%, #3d5af1 100%);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }
}
