@import "@/styles/base";

.crop{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);

    #croppieContainer{
        object-fit: contain;
    }

    button{
        font-size: $text-lg;
        padding: 1rem 2rem;
        border-radius: 10px;
        border: 1px solid $primary_700;
        color: #fff;
        transition: all 0.3s ease;
    }
    button:first-child{
        background-color: $primary_700 !important;
        margin-right: 2rem;
    }
    button:last-child{
        background-color: red !important;
        border: 1px solid red !important;
        margin-right: 2rem;
    }
    button:hover{
        background-color: #fff !important;
        color: $primary_700;
    }
    button:last-child:hover{
        color: red;
    }
}