@import '@/styles/base';

.container__content-right {
  width: 35rem;
  height: fit-content;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: white;

  &-edit {
    p {
      font-size: $text-base;
      font-weight: 500;
      text-transform: uppercase;
    }

    input {
      width: 100%;
      height: 3.5rem;
      padding: 0.7rem 1.5rem;
      margin: 1rem 0;
      border-radius: 0.6rem;
      border: 0.2rem solid #9e9e9e;
      font-size: $text-base;
      // font-weight: 500;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }

  &-title {
    margin-top: 1rem;
    p {
      font-size: $text-base;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &-image {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &-block {
      position: relative;
      width: 20rem;
      height: 20rem;
      border: 0.15rem dashed $text_500;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    &-block {
      button {
        padding: 0.8rem 1.5rem;
        border-radius: 5rem;
        width: 12rem;
        font-size: $text-base;
        font-weight: 600;

        &:first-child {
          margin-right: 3rem;
          // border: 0.2rem solid $primary_500;
          color: white;
          background-color: #9e9e9e;
          border: 0;
          text-transform: uppercase;
        }

        &:last-child {
          border: 0;
          color: white;
          background: linear-gradient(270deg, #22d1ee 0%, #3d5af1 100%);
          text-transform: uppercase;
        }
      }

      button:hover {
        filter: brightness(60%);
      }
    }
  }
}

.heading-style {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 1.5rem 0;

  font-size: $text-xl;
  font-weight: 500;
  color: $primary_700;
  text-transform: uppercase;
}

.block__img {
  position: relative;

  &-edit {
    height: 99%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;

    button {
      background-color: none;
      border: none;
      border-radius: 5rem;
    }

    svg {
      font-size: 4rem;
      color: $primary_900;
      background-color: white;
      padding: 1rem;
      border-radius: 5rem;
    }
  }

  &-edit:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.container {
  &-popup {
    width: 50rem;
    height: 20rem;
  }
  &-loader {
    height: 5em;
    width: 5em;
    border-width: 0.5em;
  }
}

.confirm-button {
  font-size: $text-lg !important;
}

.deny-button {
  font-size: $text-lg !important;
}
