@import "@/styles/base";
.about{
    &__header{

        &-breakcrumb{
            display: flex;
            align-items: center;
            color: #0088CC;
            font-size: 14px;
            font-weight: 500;
            line-height: 22px;
            border: 1px solid #F0F0F0;
            border-radius: 5px;
            padding: 1.2rem 1.8rem;
            margin: 4rem 0 2rem 10rem;
            max-width: fit-content;

            &-center{
                margin: 0 12px;
            }
        }
        &-introduce{
            position: relative;
            padding-left: 3.6rem;

            img{
                width: 100%;
                height: 100%;
            }

            p{
                max-width: fit-content;
                font-size: 9.6rem;
                padding: 3rem 20rem 3rem 12rem;
                color: #fff;
                background-color: rgba($color: #000000, $alpha: 0.5);
                position: absolute;
                top: 35%;
                left: 0;
            }
        }
    }    

    &__thanks{

    }

    &__infocompany{
        padding: 12rem 12rem 9rem 12rem;
        background-color:#F4F8FF;


        &-title{
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 3.5rem;
            color: #0088CC;
            text-align: center;
            margin-bottom: 6rem;
        }

        &-content{

            div{
                display: flex;
                align-items: center;
                margin-bottom: 3rem;
                gap: 3rem;

                img{
                    width: 50%;
                }

                p{  
                    width: 50%;
                    font-size: 16px;
                    line-height: 3.5rem;
                    color: #000000;
                }
            }
        }
    }

    &__motto{

        &-title{
            font-size: 3.5rem;
            font-weight: 500;
            line-height: 3.5rem;
            color: #0088CC;
            text-align: center;
            margin-bottom: 10rem;
            margin-top: 14rem;
        }

        div{
            position: relative;

            .about__motto-slider{
                display: flex;
                gap: 13rem;
                justify-content: space-between;
                transition: transform 150ms ease-out;
                transform: translatex(0px);
                
                &-item{
                    background-color: #D7FFFA;
                    padding: 6rem 3rem;
                    max-width: fit-content;
                    border-radius: 2rem;
                    margin: auto;
                    // overflow: hidden;
        
                    p{
                        max-width: 381px;
                        text-align: center;
                    }
    
                    &-title{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 55px;
                        letter-spacing: 0.02em;
                    }
    
                    &-content{
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 25px;
                        letter-spacing: 0.02em;
                        color: #76768F;
                    }
                }
    
                &-item:first-child{
                    margin: 0;
                    margin-left: -4.8rem;
                }
    
                // &-item:last-child{
                //     margin: 0;
                //     margin-right: -4.8rem;
                // }
            }
    
            .about__motto-curtain{
                display: flex;
                align-items: center;
                margin: auto;
                position: absolute;
                top: 0;
    
                &-left{
                    width: 441px;
                    height: 533px;
                    border-radius: 20px;
                    background-color: rgba($color: #fff, $alpha: 0.5);
                }
    
                &-button{
                    display: flex;
                    justify-content: center;
                    z-index: 1;
    
                    &-left{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: none;
                        box-shadow: -1px 2px 20px -1px rgba(0, 0, 0, 0.25);
                        margin-right: 26rem;
                        transition: all 0.3s ease;
        
                        &:hover{
                            transform: translateY(-0.3em);
                        }
                    }
    
                    &-right{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        box-shadow: -1px 2px 20px -1px rgba(0, 0, 0, 0.25);
                        margin-left: 26.5rem;
                        transition: all 0.3s ease;
                        border: none;
    
                        &:hover{
                            transform: translateY(-0.3em);
                        }   
                    }
                }
    
                &-right{
                    width: 441px;
                    height: 533px;
                    border-radius: 20px;
                    background-color: rgba($color: #fff, $alpha: 0.5);
                }
            }
        }
    }

    &__businessitems {
        margin-top: 23rem;

        h3{
            font-weight: 500;
            font-size: 35px;
            line-height: 35px;
            color: #0088CC;
            text-align: center;
        }

        &-wrapper {
            margin-top: 6rem;
            position: relative;
            overflow-x: auto;
            scroll-behavior: smooth;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .about__businessitems-list{
                display: flex;
                max-width: 1240px;
                width: auto;
                overflow: hidden;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: nowrap;
                scroll-behavior: smooth;
    
                .about__businessitems-item{
                    display: block;
                    padding-top: 20px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-left: 25px;
                    margin-right: 25px;
                    min-width: 259px;
                    height: 259px;
                    box-shadow: 0px 10px 20px rgba(136, 136, 136, 0.08);
    
                    span{
                        display: block;
                        max-width: 210px;
                        font-weight: 600;
                        line-height: 26px;
                        color: white;
                        font-size: $text-xl;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                    }
    
                    .about__businessitems-ctn{
                        margin: auto;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 180px;
                        height: 130px;
                        background-color: transparent;
                        overflow: hidden;
    
                        .about__businessitems-img{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 154px;
                            height: 154px;
                            border-radius: 50%;
                            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
                            
                            img{
                                width: 80%;
                                height: 80%;
                            }
                        }
                    }
                }
            }
          }
    }

    &__policy{
        margin-top: 20rem;

        h3{
            font-weight: 500;
            font-size: 35px;
            line-height: 35px;
            color: #0088CC;
            text-align: center;
            // margin-bottom: 6rem;
        }

        &-list{
            margin: 6rem 13.5rem 0 13.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            border: 1px solid #ccc;

            .about__policy-items{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 2rem 4rem;
                border: 1px solid #ccc;

                p{
                    max-width: 22rem;
                }

                .about__policy-ic{
                    padding: 1.8rem 2.2rem;
                    border-radius: 50%;
                    box-shadow: -1px 2px 20px -1px rgba(0, 0, 0, 0.25);
                }

                .about__policy-items-title{
                    font-weight: 700;
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                    margin: 2rem 0 1.4rem;
                }

                .about__policy-items-content{
                    font-weight: 500;
                    font-size: 1rem;
                    line-height: 2rem;
                    text-align: center;
                    margin-bottom: 2rem;
                }

                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .about__policy-items-more{
                        font-weight: 900;
                        font-size: 1rem;
                        line-height: 2rem;  
                    }

                    .about__policy-ic-right{
                        font-size: 1rem;
                        line-height: 2rem;
                        margin-left: 0.8rem;
                    }
                }
            }
        }
    }

    &__facility{
        margin-top: 20rem;

        h3{
            font-weight: 500;
            font-size: 35px;
            line-height: 35px;
            color: #0088CC;
            text-align: center;
        }

        &-wrap{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #EAF8FF;
            border-radius: 3.5rem;
            margin: 10rem;
            padding: 6rem 0;

            .about__facility-left{
                margin-right: 10rem;

                h4{
                    font-size: 3.2rem;
                    font-weight: 400;
                    line-height: 3.5rem;
                    text-align: center;
                    margin-bottom: 4rem;
                }

                div{
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;
                    
                    .about__facility-ic{
                        color: #76768F;
                        margin-right: 1.5rem;
                        font-size: 2rem;
                    }

                    p{
                        max-width: 45rem;
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                        color: #76768F;
                    }
                }

                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FCFCFC;
                    border: 3px solid #4E7ECD;
                    border-radius: 4rem;
                    width: 21rem;
                    height: 6.5rem;
                    margin: 4rem 0 0 4rem;

                    .about__facility-button-ic{
                        font-size: 2.4rem;
                        margin-right: 2rem;
                    }

                    p{
                        font-size: 2.4rem;
                        line-height: 2.8rem;
                    }
                }
            }
        }
    }
}