@import '@/styles/base';

.tag_container {
  width: 40%;
  height: 35%;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  padding: 0 2rem;

  &--title {
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $primary_700;
    text-align: center;
    margin: 1rem 0;
    display: flex;
    position: relative;
    margin-bottom: 2rem;

    .tag_cancel {
      position: absolute;
      right: 10px;
      color: $text_800;
    }
  }
  .wrap_title {
    display: flex;
    flex-direction: column;

    &--text {
      font-size: $text-base;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 1rem;
      font-family: 'Roboto';
    }

    .custom-input {
      width: 100%;
      height: 40px;
      font-size: $text-base;
      border-radius: 10px;
      border: 1px solid #ccc;
      padding: 0 10px;
      font-family: 'Roboto';
      margin-bottom: 1.5rem;
    }
  }
  .tag_exist {
    p {
      color: $complimentary_700;
      font-size: 16px;
    }
  }

  &--btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .button {
      background-color: $primary_600;
      color: #ffffff;
      font-size: 16px;
      padding: 10px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .button:hover {
      background-color: $primary_400;
    }

    .button:active {
      background-color: $primary_700;
    }
  }
}
