@import '@/styles/base';
@import '@/styles/responsive';

.container__value {
  display: flex;
  margin: auto;
  max-width: 1200px;

  &-heading {
    width: 100%;
    &-title {
      &-main {
        display: flex;
        align-items: center;
        &-1 {
          display: block;
          width: fit-content;
          padding: 0.8rem 1rem;
          margin-right: 1rem;
          background-color: $complimentary_400;
          color: white;
          font-size: $text-2xl;
          border-radius: 0.5rem;
          font-weight: 500;
        }

        &-2 {
          font-size: $text-2xl;
          font-weight: 550;
          color: $triadic_900;
        }
      }

      &-3 {
        margin-top: 0.5rem;
        font-size: $text-3xl;
        font-weight: 500;
        word-spacing: 0.2rem;
        color: $text_900;
      }
    }

    &-content {
      margin-top: 5rem;
      font-size: $text-base;
      color: $text_800;
      width: 90%;
    }
  }

  &-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

@include responsive_mobile() {
  .container {
    &__value {
      display: block;
      margin: 3rem 1rem 0 2rem;

      &-heading {
        &-title {
          &-main {
            &-1 {
              font-size: $text-3xl-mobile;
              padding: 0.4rem 0.7rem;
              margin-right: 0.5rem;
            }

            &-2 {
              font-size: $text-3xl-mobile;
            }
          }

          &-3 {
            font-size: $text-4xl-mobile;
          }
        }

        &-content {
          margin-top: 2rem;
          font-size: $text-base-mobile;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
