@import '@/styles/base';

.container {
  &__poster {
    position: relative;
    margin-top: 3rem;
    text-align: center;

    &-img {
      position: absolute;
      padding-left: 5rem;
      width: 90vw;
      padding-top: 10rem;
      z-index: 1;

      &-content {
        display: flex;
        justify-content: space-between;
      }
    }

    &-title {
      font-size: $text-lg;

      h4 {
        font-weight: 500;
      }

      span {
        color: $color_primary;
      }

      h3 {
        margin-top: 2rem;
        font-size: $text-2xl;
        font-weight: 400;
        color: $text_600;
      }

      h2 {
        margin-top: 0.3rem;
        color: $color_primary;
        font-size: $text-3xl;
        font-weight: 500;
      }

      h1 {
        margin-top: 1rem;
        font-size: $text-8xl;
        color: $complimentary_400;
      }
    }

    &-value {
      margin-top: 2rem;

      &-item {
        margin: auto;
        padding: 1.5rem 2rem;
        width: fit-content;
        border-radius: 4rem;
        font-size: $text-lg;
        color: $text_600;
        background-color: $primary_50;
        word-spacing: 0.2rem;
      }
      span {
        font-size: $text-2xl;
        font-weight: 500;
        color: $color_primary;
      }
    }

    &-btn {
      margin-top: 4rem;
      position: inherit;
      z-index: 2;

      &-item {
        margin: auto;
        padding: 1.5rem 2.5rem;
        width: fit-content;
        border: 0.2rem solid $color_primary;
        border-radius: 1rem;

        p {
          font-size: $text-lg;
          color: $color_primary;
          font-weight: 500;
        }
      }

      &-item:hover {
        cursor: pointer;
        background-color: $color_primary;

        p {
          color: white;
        }
      }
    }

    &-block {
      margin-top: 11rem;
      position: inherit;
      z-index: 2;
      &-card {
        margin: auto;
        padding: 4rem;
        width: 80vw;
        display: flex;
        justify-content: space-between;
        background-color: $primary_600;
        border-radius: 2rem;
      }
    }
  }

  &__vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin-top: 10rem;
    padding: 5rem 15rem;
    background-color: rgba($color: $text_100, $alpha: 0.3);

    &-img1 {
      img {
        border-radius: 10rem;
        height: auto;
        max-width: 90%;
      }
    }

    &-img2 {
      img {
        border-radius: 22rem;
        height: auto;
        max-width: 85%;
      }
    }

    &-content {
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      font-size: $text-base;
      color: $text_800;
    }
  }

  &__value {
    display: flex;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 10rem;

    &-heading {
      &-title {
        &-main {
          display: flex;
          align-items: center;
          &-1 {
            display: block;
            width: fit-content;
            padding: 0.8rem 1rem;
            margin-right: 1rem;
            background-color: $complimentary_400;
            color: white;
            font-size: $text-2xl;
            border-radius: 0.5rem;
            font-weight: 500;
          }

          &-2 {
            font-size: $text-2xl;
            font-weight: 550;
            color: $triadic_900;
          }
        }

        &-3 {
          margin-top: 0.5rem;
          font-size: $text-3xl;
          font-weight: 500;
          word-spacing: 0.2rem;
          color: $text_900;
        }
      }

      &-content {
        margin-top: 5rem;
        font-size: $text-base;
        color: $text_800;
        width: 90%;
      }
    }

    &-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__envir {
    margin-top: 7rem;
    padding: 4rem 5rem 7rem 5rem;
    background-color: rgba($color: $primary_50, $alpha: 0.5);

    &-title {
      text-align: center;
      font-size: $text-2xl;
      font-weight: 500;
      color: $text_800;
    }

    &-block {
      display: flex;
      justify-content: space-between;
      margin-top: 5rem;

      &-img1 {
        img {
          width: auto;
          height: 90%;
        }

        &-center {
          width: auto;
          height: 100%;
        }

        &-bottom {
          display: flex;
          align-items: flex-end;
        }

        &-top {
          display: flex;
          align-items: flex-start;
        }
      }

      &-img2 {
        img {
          width: auto;
          height: 55%;
        }

        &-circle {
          margin: auto;
          width: 6rem;
          height: 6rem;
          border-radius: 5rem;

          &-1 {
            margin-top: 4rem;
            background-color: $analogous_200;
          }

          &-2 {
            margin-bottom: 4rem;
            background-color: $complimentary_200;
          }
        }

        &-bottom {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }

  &__recruit {
    position: relative;
    // display: flex;

    &-left {
      position: absolute;
      left: 15rem;

      width: 90%;
      &-title {
        position: absolute;
        top: 8rem;

        h2 {
          font-size: $text-3xl;
          color: $primary_900;
        }
        span {
          // position: absolute;
          // top: -2.5rem;
          font-size: $text-lg;
          color: $primary_500;
        }
      }

      &-nav {
        position: absolute;
        top: 18rem;
      }
    }

    &-right {
      // display: inline-block;
    }
  }

  &__work {
    margin: 5rem 10rem;

    &-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: $text-3xl;
        font-weight: 500;
        color: $primary_700;
      }

      &-filter {
        input {
          background: url('@/assets/imgs/Recruitment/icons/ic_filter.svg') no-repeat right center;
          font-size: $text-lg;
          padding: 1rem 3rem 1rem 1rem;
          width: 35rem;
          border: 0.1rem solid $text_300;
        }
      }
    }

    &-staff {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 2rem;

      &-item {
        width: 46%;
        margin: 2rem;
        border: 0.2rem solid $text_100;
        padding: 2rem;
      }
    }

    &-btn {
      width: fit-content;
      margin: auto;
      margin-top: 3rem;
      border: 0.2rem solid $primary_700;
      padding: 1rem 4rem;
      border-radius: 2rem;
      font-size: $text-lg;
      color: $color_primary;
      font-weight: 400;
    }

    &-btn:hover {
      background-color: $color_primary;
      color: white;
      cursor: pointer;
    }
  }
}

.sticky-container {
  top: 7rem;
  position: sticky;
  position: -webkit-sticky;
  // height: 95vh;
}
