@import '@/styles/base';
@import '@/styles/responsive';

.container {
  max-width: 1660px;
  margin: 0 auto;

  .mobile-res {
    display: none;

    &-title {
      display: none;
    }
  }

  &__black-bg {
    display: none;
  }

  &__bg {
    img {
      height: 40vh;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    margin: 5rem 0;
    padding: 0 5rem;

    &-nav {
      width: 40%;
      min-width: 35rem;
      margin-right: 4rem;

      ul {
        list-style: none;
      }

      &-item {
        padding: 1rem 0rem 1rem 3rem;
        border-bottom: 0.1rem solid $text_200;
        border-left: 0.1rem solid $text_200;
        border-right: 0.1rem solid $text_200;
        font-size: $text-base;
        color: black;
        font-weight: 410;

        &-active {
          background-color: $color_primary;
          color: white;
        }

        &-active {
          cursor: pointer;
        }
      }

      &-item:hover {
        cursor: pointer;
        background-color: $color_primary;
        color: white;
        font-weight: 410;
      }

      &-title {
        border: 0.1rem solid $text_200;
        padding: 1rem 0rem 1rem 2rem;

        &-icon {
          display: none;
        }

        h3 {
          text-transform: uppercase;
          font-size: $text-2xl;
          padding-right: 0.5rem;
        }
      }
    }

    &-section {
      &-title {
        font-size: $text-3xl;
        font-weight: 500;
        margin-bottom: 3rem;
      }

      &-details {
        line-height: 1.5;
      }
    }
  }
}
@include responsive_mobile() {
  .container {
    position: relative;

    .other-res {
      display: none;
    }

    .mobile-res {
      display: block;

      &-title {
        display: flex;
      }
    }

    &__black-bg {
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 1;
    }

    &__bg {
      img {
        height: 30vh;
      }
    }

    &__content {
      display: block;
      margin: 0;
      padding: 0;

      &-nav {
        width: 100%;
        position: fixed;
        top: 69px;
        z-index: 2;

        ul {
          width: 100%;
          background-color: white;
          overflow: hidden;

          .hidden {
            max-height: 0;
            visibility: inherit;
            transition: max-height 0.1s ease;
          }

          .active {
            border-bottom: 1px solid #ccc;
            max-height: 100vh;
            transition: all 1s ease-in-out;
          }
        }

        &-item {
          font-size: $text-xl-mobile;
        }

        &-title {
          width: 100%;
          display: flex;
          border: 0;
          background-color: $primary_800;

          &-icon {
            display: block;
            transition: transform 1s;
            width: 2rem;
            height: auto;
            color: white;
          }

          &-active &-icon {
            transform: rotate(90deg);
          }

          h3 {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 1rem;
            font-size: $text-xl-mobile;
            font-weight: 600;
            color: white;
          }
        }
      }

      &-section {
        margin: 1rem;
      }
    }
  }
}
