@import '@/styles/base';

.authen {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  position: relative;
  align-items: center;

  &__loading {
    position: absolute;
    background-color: rgba(#000, 0.2);
    width: 100vw;
    height: 100vh;
  }

  &_container {
    flex: 0.6;
    padding-left: 10rem;

    &_title {
      margin-bottom: 30px;
      font-family: Roboto;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      color: $primary_900;
    }

    &_subtitle {
      margin-bottom: 20px;
    }

    &_wrap {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;

      &_ic {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-left: 5px;
        color: $analogous_800;
      }
    }

    .wrap_title {
      display: flex;
      flex-direction: column;
      padding-bottom: 10px;
      &--text {
        font-size: $text-base;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 1rem;
        font-family: 'Roboto';
      }

      .custom-input {
        width: 100%;
        height: 40px;
        font-size: $text-base;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 0 10px;
        font-family: 'Roboto';
        margin-bottom: 1.5rem;
      }

      .custom-textarea {
        font-family: 'Roboto';
        background-color: aqua;
      }
    }

    .wrap_route {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .wrap_cancel {
        color: $primary_600;
        cursor: pointer;
        text-align: center;
        // margin: 0 auto;
      }
    }

    .wrap_btn {
      width: 100%;
      padding-bottom: 30px;
      margin-top: 30px;
      button {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        background-color: $primary_600;
        font-size: $text-base;
        color: #fff;
      }
    }
  }

  &_welcome {
    flex: 1.2;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    background: linear-gradient(
      174deg,
      #1a6ee8 0%,
      rgba(15, 172, 241, 0.79) 44.55%,
      rgba(6, 197, 242, 0.48) 90.21%,
      rgba(0, 133, 255, 0.52) 99.99%
    );

    &_content {
      position: absolute;
      top: 32%;
      left: 50%;
      width: 100%;

      &_title {
        width: 54%;
        color: #ffffff;
        font-family: Roboto;
        font-size: 4rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        transform: translate(-16%, -50%);
        text-align: right;
      }

      &_text {
        width: 32%;
        color: #fff;
        text-align: right;
        font-family: Roboto;
        font-size: 2rem;
        font-style: normal;
        font-weight: 400;
        transform: translate(40%, 50%);
        line-height: normal;
      }

      &_img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -125px;
        left: 510px;
      }

      &_ellip1 {
        position: absolute;
        height: 18rem;
        width: 18rem;
        top: 100%;
        left: 30%;
        background: #5bc3fe;
        border-radius: 30rem;
        background-size: cover;
        opacity: 0.7;
      }

      &_ellip2 {
        width: 15rem;
        height: 15rem;
        background: #3084ff;
        position: absolute;
        top: -100%;
        left: 0px;
        border-radius: 30rem;
        opacity: 0.7;
      }

      &_ellip3 {
        width: 25rem;
        height: 25rem;
        position: absolute;
        top: 100%;
        left: 0%;
        background-color: #42bbff;
        opacity: 0.3;
        border-radius: 30rem;
      }
    }
  }
  .checkAccount {
    color: red;
    font-size: $text-sm;
  }
}

//Loading
#loader {
  padding: 1.5rem;
  width: 2rem;
  height: 2rem;
  margin: auto;
  margin-top: 3rem;
  border: 0.8rem solid white;
  border-radius: 50%;
  border-top: 0.8rem solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
