@import '@/styles/base';
@import '@/styles/responsive';

.container__recruit {
  position: relative;

  &-left {
    width: 90%;
    &-title {
      position: absolute;
      top: 8rem;

      h2 {
        padding-top: 0.5rem;
        font-size: $text-3xl;
        color: $primary_900;
      }

      span {
        font-size: $text-lg;
        color: $primary_500;
      }
    }

    &-nav {
      position: absolute;
      top: 18rem;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .sticky-container {
    top: 7rem;
    left: 15rem;
    position: sticky;
  }
}

.display-none {
  transition: all 0.2s ease;
  opacity: 0;
  display: none;
}

@include responsive_mobile() {
  .container {
    &__recruit {
      margin-bottom: 1.5rem;
      &-left {
        position: inherit;
        width: 100%;

        &-title {
          position: inherit;
          top: 0;
          width: 100%;
          margin-bottom: 3rem;
          padding: 2rem;

          h2 {
            font-size: $text-4xl-mobile;
          }

          span {
            font-size: $text-xl-mobile;
          }
        }

        &-nav {
          position: inherit;
          top: 0;
        }
      }

      &-right {
        height: auto;
        align-items: center;
      }

      .sticky-container {
        top: 0;
        left: 0;
        position: inherit;
      }
    }
  }
}
