@import '@/styles/base';

.motto__overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;

  .motto__modal {
    display: block;
    width: 412px;
    height: 570px;
    border-radius: 10px;
    background-color: white;

    &__heading {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 60px;
      font-size: $text-xl;
      font-weight: 700;
      background: #1892d7;
      border-radius: 10px 10px 0px 0px;
      color: white;

      .motto__modal-ic {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 25px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    &__body {
      width: 100%;
      height: max-content;
      padding: 0 3rem;

        h4 {
            font-size: $text-base;
            font-weight: 700;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            height: 45px;
            border-radius: 6px;
            border: 2px solid #EEE;
            padding: 14px 20px;
            font-size: $text-base;
            font-weight: 400;
            font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
        }

        textarea.tinymce{
          border: 1px solid #9E9E9E !important;
        }

        .wrapper{
          position: relative;
          width: 100%;
          height: 196px;
          display: flex;
          justify-content: center;
          margin-right: 0;

          div{
            width: 100%;
            height: 100%;

            img{
              width: 100%;
              height: 100%;
              border-radius: 8px;
              background-size: cover;
            text-align: center;

            }
          }

          .about__mottomodal-button-wrapper{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-out;
            border-radius: 8px;
            z-index: 10;

            .about__mottomodal-button{
                padding: 1rem 2rem;
                border-radius: 1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary_600;
                border: none;
                margin: 1.4rem;
                transition: 0.3s all ease;
                display: none;

                &-ic{
                    margin-right: 0.6rem;
                    font-size: $text-2xl;
                    color: #fff;
                }

                span{
                    font-size: $text-lg;
                    font-weight: 500;
                    color: #fff;
                }
            }

            .about__mottomodal-button:hover{
                background-color: #fff;
                transition: 0.3s all ease;

                .about__mottomodal-button-ic{
                    color: $primary_600;
                }

                span{
                    color: $primary_600;
                }
            }
        }
        .about__mottomodal-button-wrapper:hover{
            border-radius: 8px;
            background-color: rgba($color: #000000, $alpha: 0.8);
        }

        .about__mottomodal-button-wrapper:hover .about__mottomodal-button{
            display: flex;
        }
        }

        .modal__buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
  
            button {
              padding: 8px 15px;
              min-width: 120px;
              font-size: 1.6rem;
              font-weight: 600;
              border-radius: 50px;
  
              &:hover {
                opacity: 0.9;
              }
  
              &:nth-child(1) {
                margin-right: 20px;
                border: 1px solid #22d1ee;
                background-color: white;
              }
  
              &:nth-child(2) {
                color: white;
                border: 1px solid #22d1ee;
                background: linear-gradient(270deg, #22d1ee 0%, #3d5af1 100%);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
              }
            }
          }
    }
  }
}
