@import '@/styles/base';
@import '@/styles/responsive';

.container__envir {
  margin-top: 7rem;
  padding: 4rem 5rem 7rem 5rem;
  background-color: rgba($color: $primary_50, $alpha: 0.5);

  &-title {
    text-align: center;
    font-size: $text-2xl;
    font-weight: 500;
    color: $text_800;
  }

  &-block {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    gap: 10px;

    img {
      border-radius: 30rem;
    }

    &-img1 {
      img {
        width: 100%;
        height: auto;
      }

      &-center {
        width: auto;
        height: 100%;
      }

      &-bottom {
        display: flex;
        align-items: flex-end;
      }

      &-top {
        display: flex;
        align-items: flex-start;
      }
    }

    &-img2 {
      img {
        width: 100%;
        height: auto;
      }

      &-circle {
        margin: auto;
        width: 6rem;
        height: 6rem;
        border-radius: 5rem;

        &-1 {
          margin-top: 4rem;
          background-color: $analogous_200;
        }

        &-2 {
          margin-bottom: 4rem;
          background-color: $complimentary_200;
        }
      }

      &-bottom {
        display: flex;
        align-items: flex-end;
      }
    }
  }
}

@include responsive_mobile() {
  .container {
    &__envir {
      margin-top: 2rem;
      padding: 2rem 2rem 3rem 2rem;

      &-title {
        font-size: $text-2xl-mobile;
      }

      &-block {
        margin-top: 3rem;
        overflow-x: auto;

        &-img1 {
          margin-right: 2rem;
          img {
            width: auto;
            height: 25vh;
          }

          &-center {
            width: auto;
            height: 30vh;
          }
        }

        &-img2 {
          margin-right: 2rem;

          img {
            width: auto;
            height: 20vh;
          }

          &-circle {
            margin: auto;
            width: 3rem;
            height: 3rem;
            border-radius: 5rem;

            &-1 {
              margin-top: 4rem;
            }

            &-2 {
              margin-bottom: 4rem;
            }
          }
        }
      }

      &-block::-webkit-scrollbar {
        height: 0;
      }
    }
  }
}
