@import "@/styles/base";

.about__infocompany{
    padding: 6rem 12rem 6rem 12rem;
    background-color:#F4F8FF;
    position: relative;

    &-title{
        font-size: $text-4xl;
        font-weight: 500;
        line-height: 3.5rem;
        color: $primary_900;
        text-align: center;
        margin-bottom: 6rem;
    }

    &-content{

        &-item{
            display: flex;
            align-items: center;
            margin-bottom: 3rem;
            gap: 3rem;

            .about__infocompany-position{
                width: 50%;
                position: relative;

                .about__infocompany-img{
                    width: 100%;
                    height: auto;

                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                    }
                }

                .about__infocompany-button-wrapper{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.3s ease-out;
                    border-radius: 8px;
                    z-index: 10;

                    .about__infocompany-button{
                        padding: 1rem 2rem;
                        border-radius: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $primary_600;
                        border: none;
                        margin: 1.4rem;
                        transition: 0.3s all ease;
                        display: none;
        
                        &-ic{
                            margin-right: 0.6rem;
                            font-size: $text-2xl;
                            color: #fff;
                        }
        
                        span{
                            font-size: $text-lg;
                            font-weight: 500;
                            color: #fff;
                        }
                    }
        
                    .about__infocompany-button:hover{
                        background-color: #fff;
                        transition: 0.3s all ease;
        
                        .about__infocompany-button-ic{
                            color: $primary_600;
                        }
        
                        span{
                            color: $primary_600;
                        }
                    }
                }
                .about__infocompany-button-wrapper:hover{
                    border-radius: 8px;
                    background-color: rgba($color: #000000, $alpha: 0.8);
                }

                .about__infocompany-button-wrapper:hover .about__infocompany-button{
                    display: flex;
                }
            }

            p{  
                width: 50%;
                font-size: $text-base;
                line-height: 3.5rem;
                color: #000000;
            }
        }
    }

    button{
        padding: 0.4rem 2.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $primary_600;
        border: 1px solid $primary_600;
        border-radius: 1rem;
        position: absolute;
        margin: 1.4rem;
        transition: all 0.3s ease-in-out;

        .about__infocompany-button-ic{
            font-size: $text-2xl;
            margin-right: 1.4rem;
            color: #fff;
        }

        span{
            font-size: $text-base;
            font-weight: 500;
            line-height: 3.5rem;
            color: #fff;
        }
    }

    button:hover{
        background-color: #fff;

        .about__infocompany-button-ic{
            color: $primary_600;
        }

        span{
            color: $primary_600;
        }
    }

    &-button-first{
        top: 0;
        right: 0;
    }

    &-button-left{
        top: 0;
        right: 16rem;
        background-color: #000000 !important;
        border: 1px solid #000 !important;
    }
    &-button-left:hover{
        background-color: #fff !important;

        .about__infocompany-button-ic{
            color: #000 !important;
        }

        span{
            color: #000 !important;
        }
    }
    &-button-right{
        top: 0;
        right: 0;
    }
}

.title {
    font-size: $text-xl !important;
}
  
.confirm-button {
font-size: $text-lg !important;
}

.cancel-button {
font-size: $text-lg !important;
}